<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Register</title>
<link rel="stylesheet" href="../css/main.css">
</head>

<body>
<p class="app_name">Smiggle Chat</p>
 <p class="login">Register Here</p>
<table width="100%" border="1" cellspacing="5" cellpadding="5">
  <tbody>
    <tr>
      <td>Email</td>
      <td><input type="text" name="email" id="email"></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="text" name="password" id="password"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="button" name="btnLogin" id="btnRegister" value="Submit"></td>
    </tr>
  </tbody>
</table>
<script type="text/javascript" src="../js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="../js/apicall.js"></script>
</body>
</html>
